.optionCard {
    cursor: pointer;
    transition: background-color 150ms ease;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.08);

    &:hover {
        background-color: var(--mantine-color-dark-6);
    }
}
