.itemWrapper {
    margin-bottom: 8px;
    animation: fadeIn 0.2s ease-out;
    -webkit-animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}

.listContainer {
    height: 100dvh;
}
