.footer {
    bottom: 10px;
    border-top: none;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 100;

    background-color: transparent;

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    @-moz-document url-prefix() {
        background-color: var(--mantine-color-dark-7);
        backdrop-filter: none;
    }
}

.tab {
    position: relative;
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

    border-radius: 8px;
    margin: 4px;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    &[data-active] {
        z-index: 1;
        background-color: transparent;
        border: 2px solid var(--mantine-color-cyan-filled);

        @mixin hover {
            background-color: var(--mantine-color-cyan-outline-hover);
        }
    }
}

.tabLabel {
    color: var(--mantine-color-white);
    font-weight: 500;
}
