.container {
    display: flex;
    flex-direction: column;
}

.editorWrapper {
    height: 60vh;
    min-height: 320px;
    overflow: hidden;
    resize: vertical;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.statusCode {
    background-color: transparent;
    font-size: 0.9rem;
    padding: 0;
}
