.root {
    padding: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-md);
    cursor: default;
    position: relative;
    overflow: hidden;
}

.icon {
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-width: 56px;
    min-height: 56px;
}

.textEmphasis {
    font-weight: 700;
    font-size: var(--mantine-font-size-xl);
    line-height: 1.2;
    color: var(--mantine-color-white-5);
}

.textMuted {
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.01em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trendContainer {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-xs);

    border-radius: var(--mantine-radius-md);
    white-space: nowrap;
}

.trendPositive {
    background: rgba(var(--mantine-color-green-6-rgb), 0.15);
    border: 1px solid rgba(var(--mantine-color-green-6-rgb), 0.3);
}

.trendNegative {
    background: var(--mantine-color-red-6) 15;
    border: 1px solid var(--mantine-color-red-6) 30;
}

.trendValue {
    font-size: var(--mantine-font-size-xs);
    font-weight: 600;
}

.trendText {
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-xs);
    font-weight: 500;
}
