.monacoEditor {
    height: 100%;
    min-height: 700px;
    z-index: 50;
}

.footer {
    bottom: 10px;
    border-top: none;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 100;

    background-color: transparent;

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    @-moz-document url-prefix() {
        background-color: var(--mantine-color-dark-7);
        backdrop-filter: none;
    }
}
