.header {
    z-index: auto;
    position: static;
}

.container {
    display: flex;
    flex-direction: column;
}

.editorWrapper {
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-color: var(--mantine-color-dark-4);
    transition: border-color 150ms ease;
}

.editorWrapperError {
    border-color: var(--mantine-color-red-5);
}

.monacoEditor {
    flex: 1;
    height: 100%;
    width: 100%;
}

.footerError {
    border-color: var(--mantine-color-red-5);
}
