.root {
    z-index: 198;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    left: 0;
    margin-left: calc(var(--mantine-spacing-md) * -1);
    backdrop-filter: blur(24px);

    @media (min-width: $mantine-breakpoint-xl) {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        width: 100vw;
        left: 0;
        margin-left: calc(-1 * (var(--mantine-spacing-md) + var(--sidebar-width-xl)));
    }

    @media (min-width: $mantine-breakpoint-2xl) {
        margin-left: calc(-1 * (var(--mantine-spacing-md) + var(--sidebar-width-2xl)));
    }
}

.rightContent {
    display: flex;
    align-items: center;
}

.logo {
    margin-inline-end: 1rem;
    width: 2.25rem;
    flex-shrink: 0;
    color: inherit;

    @media (min-width: $mantine-breakpoint-lg) {
        margin-inline-end: 1.25rem;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        display: none;
    }
}

.logoWrapper {
    padding: var(--mantine-spacing-xl) var(--mantine-spacing-xl);
    margin-bottom: var(--mantine-spacing-md);
}
