.iconWrapper {
    position: relative;
}

.icon {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.itemWrapper {
    padding-bottom: 8px;
    animation: fadeIn 0.1s ease-out;
    -webkit-animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

.listContainer {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.tabsContainer {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.tab {
    position: relative;
    border: 1px solid var(--mantine-color-dark-4);
    background-color: var(--mantine-color-dark-6);
    border-radius: 8px;
    margin: 4px;
    font-weight: 500;

    @mixin hover {
        background-color: var(--mantine-color-dark-5);
    }

    &[data-active] {
        z-index: 1;
        background-color: transparent;
        border: 1px solid transparent;
        outline: 2px solid var(--mantine-color-cyan-filled);
        outline-offset: -2px;

        @mixin hover {
            background-color: var(--mantine-color-cyan-outline-hover);
        }
    }
}

.tabLabel {
    color: var(--mantine-color-white);
    font-weight: 500;
}

.tabPanel {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
