.modalFooter {
    bottom: 0;
    border-radius: var(--mantine-radius-default);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.06);
    padding: 10px;
    background: rgba(22, 27, 35, 0.95);
}
